<! DOCTYPE html>

<html>

  
  <head>

    <title>
      Job Hunt
    </title> 

    {% include 'bootstrap.html' %}
    
  </head>


  
  <body>

    {% include 'nav.html' %}
    
    <h1 class= "text-center mt-4 mb-4">Job Hunt</h1>
    
    {% include 'banner.html' %}

    <div class="container">

  
  
      <h3 class="text-center mb-4 mt-4"><b>Post a JOB</b></h3><br><br>
        <form action="/job-posted" method = 'post' class="row g-3 mb-4">
          
          
          
          <div class="col-md-9">
            <label for="inputEmaild4" class="form-label"><b></b></label>
            
          </div>
          
          <div class="col-md-6">
            <label for="inputName4" class="form-label"><b>Title</b></label>
            <input type="text" required name="title" class="form-control" id="title">
          </div>
          
          <div class="col-md-6">
            <label for="inputEmaild4" class="form-label"><b>location</b></label>
            <input type="text" required name="location" class="form-control" id="location">
          </div>
          
          <div class="col-6">
            <label for="inputLinkedin" class="form-label"><b>Currency</b></label>
            <input type="text" required name="currrency" class="form-control" id="currrency" placeholder="Rs. , $, etc">
          </div>
          
          <div class="col-6">
            <label for="inputEducation" class="form-label"><b>Salary</b></label>
            <input type="text" required name="salary" class="form-control" id="salary">
          </div>
          
          <div class="col-md-12">
            <label for="inputWE" class="form-label"><b>Requirements</b></label>
            <textarea required name="requirements" class="form-control" id="requirements"></textarea>
          </div>
          
          <div class="col-md-12">
            <label for="inputRL" class="form-label"><b>Responsibilities</b></label>
            <textarea required name="responsibilities" class="form-control" id="responsibilities"></textarea>
          </div>
          
          <div class="col-12 text-center mb-4 mt-4">
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
          
        </form>


      <!-- Footer -->
      <div>
        {% include 'footer.html' %}
      </div>
  
    </div>

    
  </body>
</html>